<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <input type="password" name="confirm_password" placeholder="Enter your password">
    <button type="submit">Sign-up</button>
    </form>