<form action="/users/createSession" method="post">
<input type="text" name="name" placeholder="Enter your name">
<input type="email" name="email" placeholder="Enter your email">
<input type="password" name="password" placeholder="Enter your password">
<button type="submit">Sign-in</button>
</form>